---
import Layout from "../../../layouts/Layout.astro";
import BreadCrumProduct from "@components/BreadCrum/BreadCrumProduct.astro";
import InteractiveProductSection from "@components/Productos/InteractiveProductSection";
import ProductsByCategory from '@components/Footer/ProductByCAtegory/index.astro'
import { getSetasIds, getSetasById } from "@services/setasServices";
import type { Seta } from "@/types";
import Carousel from "@/components/Productos/CaruselProduct";
const { productoId } = Astro.params;
const producto = getSetasById(productoId) as Seta;
export function getStaticPaths() {
  const categories = getSetasIds();
  return categories.map((productoId) => ({ params: { productoId } }));
}
---

<Layout title="producto">
  <main class="mt-6 gap-6 items-center flex flex-col">
    <BreadCrumProduct
      category={producto.categoria}
      productName={`${producto?.nombre.slice(0, 16)}...`}
    />
    <section class="w-full flex p-4 bg-slate-100 rounded-lg">
      <figure
        class="flex items-center justify-center w-1/2 p-8 aspect-[2/1] overflow-hidden rounded-tl-lg rounded-bl-lg"
      >
        <div class="relative rounded-md overflow-hidden">
          <div class="w-full">
            <Carousel
              slides={producto.imagenes}
              autoSlide={false}
              client:visible
            />
          </div>
        </div>
      </figure>
      <section class="w-1/2 aspect-auto pt-8 pb-0 px-12 flex flex-col">
        <h1 class="text-2xl font-bold">{producto.nombre}</h1>
        {
          producto.descripcion
            .split("/n")
            .map((parrafo) => <p class="mt-4">{parrafo}</p>)
        }
        <p class="mt-8 mb-8 text-xl font-bold">Precio: ${producto.precio}</p>
        <div>
          <span
            class="w-auto bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
            >{producto.categoria}</span
          >
        </div>
        <InteractiveProductSection product={producto} client:visible />
      </section>
    </section>
    <ProductsByCategory categories={producto.categoria} />
  </main>
</Layout>
